body {
  background-color: #36454F;
  text-align: center;
  
  
}

.calculator {
  background-color: antiquewhite;
  width: 325px; 
  border: 20px #818589; 
  border-style: solid; 
  padding: 20px; 
  border-radius: 5px;
  
}

button {
  padding: 10px; 
  margin: 2px; 
  width: 70px; 
  text-align: center; 
  height: 50px;
  font-size: 20px;
  border-radius: 3px;
  }

  button:hover {
    transform: scale(1.1); 
  }


#clear-button {
  width: 148px; 
  background-color: #FF8A8A;
  
}
#delete-button {
  width: 148px; 
  background-color: #8AC7DB;
}

#equals {
  background-color: #8AFF8A
}

.display-screen {
  padding: 10px; 
  border: 5px #818589; 
  border-style: solid; 
  margin: 5px; 
  margin-top: 0px; 
  margin-bottom: 4px; 
  border-radius: 5px;
  text-align: end;
  width: 278px; 
  height: 20px; 
  margin-right: auto; 
  margin-left: auto; 
  font-size: 20px; 


  
}
.row1 {
  padding: 3px; 
}

.row3 {
  padding: 3px; 
}

